{% extends "main/base.html" %}

{% block title %}Tickets - {% if 'edit' in request.path %}Edit Followup{% else %}Create Followup{% endif %}{% endblock %}

{% block header_icon %}<i class="fa fa-pencil-square-o fa-5x"></i>{% endblock %}
{% block headline %}{% if 'edit' in request.path %}Edit Followup{% else %}Create a new Followup{% endif %}{% endblock %}
{% block head-message %}Please fill out the form{% endblock %}

{% block content %}

    {% load crispy_forms_tags %}

    <div class="page-header">
        <h1>{% if 'edit' in request.path %}Edit Followup{% else %}Create a new Followup{% endif %}</h1>
    </div>

    <form method="post" action="">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-primary" 
               type="submit" 
               value="{% if 'edit' in request.path %}Save Followup{% else %}Create Followup{% endif %}" />
    </form>

{% endblock %}
